<div id="<%= dom_id movie %>" class="w-full sm:w-auto my-5 space-y-5">
  <h2><%= movie.name %></h2>
  <p class="text-sm"><%= movie.duration %> mins.</p>
  <p class="italic text-sm"><%= movie.genre.capitalize %></p>
  <h3>Showtimes</h3>

  <% @theater_showtimes.each do |theater, showtimes| %>
    <p><span><%= theater.name %></span>: 
      <% showtimes.each do |s| %>
        <%= s.showtime.to_fs(:db) %>
        - 
      <% end %>
    </p>
  <% end %>
</div>
